/* font googlefont */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

/* global css */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'montserrat';    
}
/* end global css */


/* my style */
nav{
    background-color: #324858;
    width: 100%;
    height: 80px;
}
nav .logo{
    color: white;
    font-weight: bold;
    line-height: 80px;
    padding: 0 100px;
    font-size: 35px;
    text-transform: capitalize;
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 7px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 550;
    padding: 17px 14px;
    border-radius: 5px;
}
a.active, a:hover{
    /* background: #4e6372; */
    background-color: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 70px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* responsive */
@media(max-width: 952px){
    label .logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        background-color: #324858;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        /* posisi sebelum diklik */
        left: -100%;
        text-align: center;
        transition: all .5s ease;
    }
    nav ul li{
        display: block;
        margin: 15px 0;
        line-height: 70px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        border-bottom: #0082e6 5px solid;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media(max-width: 320px){
    nav .logo{
        font-size: 30px;
        margin-left: -70px;
    }
    nav .checkbtn{
        margin-right: 40px;
    }    
}